
:root {
    --cream: #fdf6ee;
    --shadow-light: #ffffff;
    --shadow-dark: #dcd6d0;
    --text: #2e2b29;
}

.body {
    margin: 0px;
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    background: var(--cream);
    color: var(--text);
}

.header {
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
    background: var(--cream);
    box-shadow: inset 6px 6px 12px var(--shadow-dark),
                  inset -6px -6px 12px var(--shadow-light);
}

p.quote {
    font-style: italic;
    font-size: 1.1rem;
    color: #555;
}   

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 30px;
    padding: 0 2rem 3rem;
    max-width: 1200px;
    margin: auto;
}

.book {
    background: var(--cream);
    border-radius: 20px;
    box-shadow: 6px 6px 12px var(--shadow-dark),
                -6px -6px 12px var(--shadow-light);
    overflow: hidden;
    text-decoration: none;
    color: var(--text);
    transition: transform 0.2s ease;
    padding: 0.5rem;
    
}

.book:hover {
      transform: scale(1.03);
}

.book img {
    width: 100%;
    height: 240px;
    object-fit: contain;
}

.book-title {
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

 footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #888;
}